<h1> hai,  @ViewBag.UserName this is the page from Helo Action</h1>
<h2> can have any HTML Content</h2>

<p> User name : @ViewBag.UserName </p>
<p> Location : @ViewBag.Location </p>
<p> Contact : @ViewBag.Contact </p>